<h1>Productos#index</h1>
<p>Find me in app/views/productos/index.html.erb</p>
<hr />
<p><%="el valor del :id es #{params[:id]}" unless params[:id].nil? %></p><br />
<p>el valor del :id2 es <%=params[:id2];%></p><br />
<p>el valor del :tercer_id es <%=params[:tercer_id];%></p>
